/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

$sans-serif: "Source Sans Pro", sans-serif;
$max-width: 980px;
$brand-color: #f7ca18;
$color-logo-hover: #adadad;



/*------------------------------------*\
    #BASE
\*------------------------------------*/

html {
  font-family: $sans-serif;
}

body input,
body button,
body select,
body textarea {
  font-family: inherit;
}

.container,
.wrap {
  margin: 0 auto;
  max-width: $max-width;
}



/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.d-header #site-logo {
  margin-top: .5em;
  margin-right: 1em;
}

.d-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, .15),0 1px 0 rgba(0, 0, 0, .1);
  .icons .icon {
    color: rgba(255, 255, 255,.4);
    &:hover {
      background-color: transparent;
      color: #fff;
    }
  }
}

.logo {
  margin-right: 1em;
  margin-top: .5em;

  &:hover #logo-underline {
    fill: $color-logo-hover;
  }
}

.logo--small {
  margin-top: .35em;
  margin-right: 1.5em;
  animation: fadein .7s;

  &:hover #logo-background {
    fill: $color-logo-hover;
  }
}

.d-header .icons .active .icon {
  color: #fff;
  border-color: transparent;
  background-color: rgba(255, 255, 255, .1);
}

.d-header button.login-button,
.d-header button.sign-up-button {
  font-weight: 600;
  letter-spacing: .03rem;
  color: rgba(255, 255, 255, .9);
  background-color: transparent;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .25);
  &:hover {
    color: #fff;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .75);
  }
}

.d-dropdown,
.dropdown-menu,
.not-mobile-device #user-card,
.list-controls .category-dropdown-menu {
  padding: 6px;
  border: none;
  box-shadow: 0 0 1px 1px rgba(0,0,0,.2);
}

#hamburger-menu .close-hamburger {
  color: #000;
}

.menu-panel {
  border: none;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2);
}



/*------------------------------------*\
    #NAVIGATION / BUTTONS
\*------------------------------------*/

.btn:hover {
  background: #0f1419;
}

.btn,
.nav-pills > li > a {
  border-radius: 2px;
}

.nav-pills > li.active > a,
.nav-pills > li > a.active,
.nav-pills > li.active > a:hover,
.nav-pills > li > a.active:hover,
.btn-primary,
.btn-primary[disabled],
.btn-primary.disabled {
  color: #000;
  background-color: $brand-color;
}

body .bootbox.modal .modal-footer a.btn-primary,
.names span a {
  color: #000;
  &:hover {
    color: #fff;
  }
}

.nav-pills > li > a:hover {
  color: #000;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px $brand-color;
}



/*------------------------------------*\
    #TOPIC
\*------------------------------------*/


.topic-list thead {
  display: none;
}


.topic-body .contents .cooked {
  font-size: 1.25em;
  line-height: 1.5em;
}


.topic-list .main-link a.title {
  font-weight: 600;
  padding: 0;
  letter-spacing: .01em;
  border-bottom: 2px solid transparent;
  &:hover {
    border-bottom-color: #f7ca18;
  }
}

.topic-meta-data {
  margin-top: 1.2em;
}

.topic-map {
  background: #f4f4f4;
}

.extra-info-wrapper .badge-wrapper.bar span.badge-category {
  font-weight: 400;
}

.discourse-tag,
.badge-category {
  letter-spacing: .03rem;
}

.category-icon {
  float: left;
  width: 100%;
  height: 24px;
}

a.category-sub {
  font-size: 12px;
  font-weight: 500;
  display: inherit;
  padding-top: 2px;
  color: #7e7e7e;
}

.topic-list-item .category {
  width: 100px;
}

.show-more {
  position: relative;
}

.topic-list .topic-excerpt {
  clear: left;
}


/*------------------------------------*\
    #CATEGORY
\*------------------------------------*/
#list-area .categories .has-description td.category,
#list-area .categories td.category {
  padding: 3rem;
}

.topic-list.categories td.category,
.topic-list.categories td.latest {
  vertical-align: middle;
}

.topic-list.categories a.title {
  font-weight: 600;
}


/*------------------------------------*\
    #USER-PROFILE
\*------------------------------------*/

.names .username {
  font-size: 1.25em;
  font-weight: 600;
}

.extra-info h1 {
  font-weight: 500;
}

#user-card .card-content {
  margin-top: 0;
  background-color: transparent;
}



/*------------------------------------*\
    #GUEST BANNER
\*------------------------------------*/

.guest-banner {
  display: flex;
  height: 100px;
  margin-bottom: 18px;
  background: url("/uploads/guest-banner-background.png") no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: flex-end;
  @media (max-width: 850px) {
    display: none;
  }

  &:hover .btn--guest-banner {
    color: #000;
    background-color: $brand-color;
  }
}

.guest-banner__headline {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: .05rem;
  color: #bcbcc5;
  text-shadow: 0 1px 3px black;
}

.btn--guest-banner {
  margin: 0 10%;
  padding: 7px 15px;
  color: #000;
  border-radius: 50px;
  background-color: #fff;
  &:hover {
    box-shadow: inset 0 0 0 2px white;
  }
}



/*------------------------------------*\
    #MOBILE VIEW
\*------------------------------------*/

.mobile-view td.category {
  display: none;
}
